USE [master]
GO
/****** Object:  Database [HMS_DB]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE DATABASE [HMS_DB]
 CONTAINMENT = NONE
 ON  PRIMARY 
( NAME = N'HMS_DB', FILENAME = N'D:\DB_Project_HMS\HMS_DB.mdf' , SIZE = 73728KB , MAXSIZE = UNLIMITED, FILEGROWTH = 65536KB )
 LOG ON 
( NAME = N'HMS_DB_log', FILENAME = N'D:\DB_Project_HMS\HMS_DB_log.ldf' , SIZE = 8192KB , MAXSIZE = 2048GB , FILEGROWTH = 65536KB )
 WITH CATALOG_COLLATION = DATABASE_DEFAULT, LEDGER = OFF
GO
IF (1 = FULLTEXTSERVICEPROPERTY('IsFullTextInstalled'))
begin
EXEC [HMS_DB].[dbo].[sp_fulltext_database] @action = 'enable'
end
GO
USE [HMS_DB]
GO
/****** Object:  DatabaseRole [db_reception]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE ROLE [db_hospital_director]
GO
CREATE ROLE [db_reception]
GO
CREATE ROLE [db_clinical_staff]
GO
CREATE ROLE [db_nursing_staff]
GO
CREATE ROLE [db_accounting]
GO
/****** Object:  Schema [billing]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE SCHEMA [billing]
GO
/****** Object:  Schema [clinical]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE SCHEMA [clinical]
GO
/****** Object:  Schema [hr]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE SCHEMA [hr]
GO
/****** Object:  PartitionFunction [PF_InvoiceYear]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE PARTITION FUNCTION [PF_InvoiceYear](date) AS RANGE RIGHT FOR VALUES (N'2024-01-01T00:00:00.000', N'2025-01-01T00:00:00.000', N'2026-01-01T00:00:00.000')
GO
/****** Object:  PartitionScheme [PS_InvoiceYear]    Script Date: 9/8/2026 3:44:24 PM ******/
CREATE PARTITION SCHEME [PS_InvoiceYear] AS PARTITION [PF_InvoiceYear] TO ([PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY], [PRIMARY])
GO
USE [HMS_DB]
GO
/****** Object:  Sequence [billing].[InvoiceRefSeq]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE SEQUENCE [billing].[InvoiceRefSeq] 
 AS [int]
 START WITH 1000
 INCREMENT BY 1
 MINVALUE -2147483648
 MAXVALUE 2147483647
 CACHE 
GO
/****** Object:  Synonym [dbo].[syn_Invoices]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE SYNONYM [dbo].[syn_Invoices] FOR [billing].[Invoices]
GO
/****** Object:  Synonym [dbo].[syn_Patients]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE SYNONYM [dbo].[syn_Patients] FOR [clinical].[Patients]
GO
/****** Object:  UserDefinedFunction [clinical].[fn_GetPatientAge]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================================
-- 6. User-Defined Functions
-- =====================================================================================
CREATE   FUNCTION [clinical].[fn_GetPatientAge] (@PatientID INT)
RETURNS INT
AS
BEGIN
    DECLARE @Age INT;
    SELECT @Age = DATEDIFF(YEAR, DOB, GETDATE()) - 
                  CASE WHEN (MONTH(DOB) > MONTH(GETDATE())) 
                         OR (MONTH(DOB) = MONTH(GETDATE()) AND DAY(DOB) > DAY(GETDATE())) 
                       THEN 1 ELSE 0 END
    FROM clinical.Patients WHERE PatientID = @PatientID;
    RETURN @Age;
END
GO
/****** Object:  Table [clinical].[Patients_History]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Patients_History](
	[PatientID] [int] NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Email] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[BloodType] [varchar](3) NULL,
	[ValidFrom] [datetime2](7) NOT NULL,
	[ValidTo] [datetime2](7) NOT NULL
) ON [PRIMARY]
WITH
(
DATA_COMPRESSION = PAGE
)
GO
/****** Object:  Index [ix_Patients_History]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE CLUSTERED INDEX [ix_Patients_History] ON [clinical].[Patients_History]
(
	[ValidTo] ASC,
	[ValidFrom] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF, DATA_COMPRESSION = PAGE) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[Patients]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Patients](
	[PatientID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[DOB] [date] NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[Gender] [char](1) NOT NULL,
	[Email] [varchar](100) NULL,
	[Address] [varchar](200) NULL,
	[BloodType] [varchar](3) NULL,
	[ValidFrom] [datetime2](7) GENERATED ALWAYS AS ROW START HIDDEN NOT NULL,
	[ValidTo] [datetime2](7) GENERATED ALWAYS AS ROW END HIDDEN NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY],
	PERIOD FOR SYSTEM_TIME ([ValidFrom], [ValidTo])
) ON [PRIMARY]
WITH
(
SYSTEM_VERSIONING = ON (HISTORY_TABLE = [clinical].[Patients_History])
)
GO
/****** Object:  Table [clinical].[Appointments]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Appointments](
	[AppointmentID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[AppointmentDate] [datetime2](7) NOT NULL,
	[Status] [varchar](15) NOT NULL,
	[Reason] [varchar](200) NULL,
PRIMARY KEY CLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Departments]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Departments](
	[DepartmentID] [int] IDENTITY(1,1) NOT NULL,
	[DepartmentName] [varchar](100) NOT NULL,
	[Location] [varchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DepartmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Staff]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Staff](
	[StaffID] [int] IDENTITY(1,1) NOT NULL,
	[FirstName] [varchar](50) NOT NULL,
	[LastName] [varchar](50) NOT NULL,
	[Email] [varchar](100) NOT NULL,
	[Phone] [varchar](20) NOT NULL,
	[HireDate] [date] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[JobTitle] [varchar](50) NOT NULL,
	[Salary] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[StaffID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Doctors]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Doctors](
	[DoctorID] [int] NOT NULL,
	[Specialization] [varchar](100) NOT NULL,
	[LicenseNumber] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [hr].[vw_DoctorWorkload]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================================
-- 2. Views and Reports
-- =====================================================================================
-- Doctor Workload View
CREATE   VIEW [hr].[vw_DoctorWorkload] AS
SELECT 
    d.DoctorID, 
    s.FirstName + ' ' + s.LastName AS DoctorName, 
    d.Specialization, 
    dep.DepartmentName, 
    COUNT(a.AppointmentID) AS TotalAppointments
FROM hr.Doctors d
JOIN hr.Staff s ON s.StaffID = d.DoctorID
JOIN hr.Departments dep ON dep.DepartmentID = s.DepartmentID
LEFT JOIN clinical.Appointments a ON a.DoctorID = d.DoctorID
GROUP BY d.DoctorID, s.FirstName, s.LastName, d.Specialization, dep.DepartmentName;
GO
/****** Object:  Table [clinical].[Medications]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Medications](
	[MedicationID] [int] IDENTITY(1,1) NOT NULL,
	[Name] [varchar](100) NOT NULL,
	[Manufacturer] [varchar](100) NULL,
	[UnitPrice] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[MedicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[Prescriptions]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Prescriptions](
	[PrescriptionID] [int] IDENTITY(1,1) NOT NULL,
	[AppointmentID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[PatientID] [int] NOT NULL,
	[DatePrescribed] [date] NOT NULL,
 CONSTRAINT [PK_PrescriptionID] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[PrescriptionDetails]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[PrescriptionDetails](
	[PrescriptionID] [int] NOT NULL,
	[MedicationID] [int] NOT NULL,
	[Dosage] [varchar](50) NOT NULL,
	[Duration] [varchar](50) NOT NULL,
 CONSTRAINT [PK_PrescDetails] PRIMARY KEY CLUSTERED 
(
	[PrescriptionID] ASC,
	[MedicationID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[LabOrders]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[LabOrders](
	[LabOrderID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[DoctorID] [int] NOT NULL,
	[LabTestID] [int] NOT NULL,
	[OrderDate] [date] NOT NULL,
	[ResultDate] [date] NULL,
	[ResultValue] [varchar](100) NULL,
	[Status] [varchar](15) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LabOrderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [clinical].[vw_PatientFullHistory]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Patient Full Medical History View
CREATE   VIEW [clinical].[vw_PatientFullHistory] AS
SELECT 
    p.PatientID, 
    p.FirstName + ' ' + p.LastName AS PatientName, 
    a.AppointmentDate, 
    doc_s.FirstName + ' ' + doc_s.LastName AS SeenBy, 
    pr.PrescriptionID, 
    m.Name AS Medication, 
    pd.Dosage, 
    lo.ResultValue AS LabResult
FROM clinical.Patients p
LEFT JOIN clinical.Appointments a       ON a.PatientID = p.PatientID
LEFT JOIN hr.Doctors doc                ON doc.DoctorID = a.DoctorID
LEFT JOIN hr.Staff doc_s                ON doc_s.StaffID = doc.DoctorID
LEFT JOIN clinical.Prescriptions pr     ON pr.AppointmentID = a.AppointmentID
LEFT JOIN clinical.PrescriptionDetails pd ON pd.PrescriptionID = pr.PrescriptionID
LEFT JOIN clinical.Medications m        ON m.MedicationID = pd.MedicationID
LEFT JOIN clinical.LabOrders lo         ON lo.PatientID = p.PatientID;
GO
/****** Object:  Table [billing].[Invoices]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[Invoices](
	[InvoiceID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[AdmissionID] [int] NULL,
	[TotalAmount] [decimal](10, 2) NOT NULL,
	[IssueDate] [date] NOT NULL,
	[Status] [varchar](10) NOT NULL,
 CONSTRAINT [PK_Invoices] PRIMARY KEY CLUSTERED 
(
	[InvoiceID] ASC,
	[IssueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PS_InvoiceYear]([IssueDate])
) ON [PS_InvoiceYear]([IssueDate])
GO
/****** Object:  Table [billing].[InvoiceItems]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[InvoiceItems](
	[InvoiceItemID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[IssueDate] [date] NOT NULL,
	[Description] [varchar](200) NOT NULL,
	[Amount] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[InvoiceItemID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  View [billing].[vw_InvoiceTotals]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Invoice Totals Summary View
CREATE   VIEW [billing].[vw_InvoiceTotals] AS
SELECT 
    i.InvoiceID, 
    i.IssueDate, 
    i.PatientID, 
    i.Status, 
    SUM(ii.Amount) AS ComputedTotal
FROM billing.Invoices i
JOIN billing.InvoiceItems ii ON ii.InvoiceID = i.InvoiceID AND ii.IssueDate = i.IssueDate
GROUP BY i.InvoiceID, i.IssueDate, i.PatientID, i.Status;
GO
/****** Object:  UserDefinedFunction [clinical].[fn_GetDoctorAppointments]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   FUNCTION [clinical].[fn_GetDoctorAppointments] (@DoctorID INT)
RETURNS TABLE
AS
RETURN (
    SELECT a.AppointmentID, p.FirstName + ' ' + p.LastName AS PatientName, a.AppointmentDate, a.Status
    FROM clinical.Appointments a
    JOIN clinical.Patients p ON p.PatientID = a.PatientID
    WHERE a.DoctorID = @DoctorID
);
GO
/****** Object:  Table [billing].[InsuranceProviders]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[InsuranceProviders](
	[ProviderID] [int] IDENTITY(1,1) NOT NULL,
	[ProviderName] [varchar](100) NOT NULL,
	[ContactPhone] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [billing].[InvoiceStatusLog]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[InvoiceStatusLog](
	[LogID] [int] IDENTITY(1,1) NOT NULL,
	[InvoiceID] [int] NOT NULL,
	[OldStatus] [varchar](10) NULL,
	[NewStatus] [varchar](10) NULL,
	[ChangedAt] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[LogID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [billing].[PatientInsurance]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [billing].[PatientInsurance](
	[PatientID] [int] NOT NULL,
	[ProviderID] [int] NOT NULL,
	[PolicyNumber] [varchar](30) NOT NULL,
	[ExpiryDate] [date] NOT NULL,
 CONSTRAINT [PK_PatientInsurance] PRIMARY KEY CLUSTERED 
(
	[PatientID] ASC,
	[ProviderID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[Admissions]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[Admissions](
	[AdmissionID] [int] IDENTITY(1,1) NOT NULL,
	[PatientID] [int] NOT NULL,
	[RoomID] [int] NOT NULL,
	[AdmittingDoctorID] [int] NOT NULL,
	[AdmissionDate] [datetime2](7) NOT NULL,
	[DischargeDate] [datetime2](7) NULL,
PRIMARY KEY CLUSTERED 
(
	[AdmissionID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [clinical].[LabTests]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [clinical].[LabTests](
	[LabTestID] [int] IDENTITY(1,1) NOT NULL,
	[TestName] [varchar](100) NOT NULL,
	[Cost] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[LabTestID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[DoctorSchedules]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[DoctorSchedules](
	[DoctorID] [int] NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DayOfWeek] [varchar](10) NOT NULL,
	[StartTime] [time](7) NOT NULL,
	[EndTime] [time](7) NOT NULL,
 CONSTRAINT [PK_DoctorSchedules] PRIMARY KEY CLUSTERED 
(
	[DoctorID] ASC,
	[DepartmentID] ASC,
	[DayOfWeek] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Nurses]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Nurses](
	[NurseID] [int] NOT NULL,
	[ShiftType] [varchar](20) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[NurseID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [hr].[Rooms]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [hr].[Rooms](
	[RoomID] [int] IDENTITY(1,1) NOT NULL,
	[RoomNumber] [varchar](10) NOT NULL,
	[RoomType] [varchar](20) NOT NULL,
	[DepartmentID] [int] NOT NULL,
	[DailyRate] [decimal](10, 2) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[RoomID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [billing].[InsuranceProviders] ON 

INSERT [billing].[InsuranceProviders] ([ProviderID], [ProviderName], [ContactPhone]) VALUES (1, N'MedNet Egypt', N'19999')
INSERT [billing].[InsuranceProviders] ([ProviderID], [ProviderName], [ContactPhone]) VALUES (2, N'AXA Insurance', N'19555')
INSERT [billing].[InsuranceProviders] ([ProviderID], [ProviderName], [ContactPhone]) VALUES (3, N'AllianceCare', N'19222')
SET IDENTITY_INSERT [billing].[InsuranceProviders] OFF
GO
SET IDENTITY_INSERT [billing].[InvoiceItems] ON 

INSERT [billing].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [IssueDate], [Description], [Amount]) VALUES (1, 1, CAST(N'2025-03-15' AS Date), N'ICU Room x14 days', CAST(49000.00 AS Decimal(10, 2)))
INSERT [billing].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [IssueDate], [Description], [Amount]) VALUES (2, 1, CAST(N'2025-03-15' AS Date), N'Lipid Profile Test', CAST(150.00 AS Decimal(10, 2)))
INSERT [billing].[InvoiceItems] ([InvoiceItemID], [InvoiceID], [IssueDate], [Description], [Amount]) VALUES (3, 2, CAST(N'2025-12-06' AS Date), N'Operation Room x5 days', CAST(25000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [billing].[InvoiceItems] OFF
GO
SET IDENTITY_INSERT [billing].[Invoices] ON 

INSERT [billing].[Invoices] ([InvoiceID], [PatientID], [AdmissionID], [TotalAmount], [IssueDate], [Status]) VALUES (1, 1, 9, CAST(49150.00 AS Decimal(10, 2)), CAST(N'2025-03-15' AS Date), N'Paid')
INSERT [billing].[Invoices] ([InvoiceID], [PatientID], [AdmissionID], [TotalAmount], [IssueDate], [Status]) VALUES (2, 3, 10, CAST(25000.00 AS Decimal(10, 2)), CAST(N'2025-12-06' AS Date), N'Unpaid')
INSERT [billing].[Invoices] ([InvoiceID], [PatientID], [AdmissionID], [TotalAmount], [IssueDate], [Status]) VALUES (3, 5, 11, CAST(2400.00 AS Decimal(10, 2)), CAST(N'2025-09-07' AS Date), N'Paid')
SET IDENTITY_INSERT [billing].[Invoices] OFF
GO
INSERT [billing].[PatientInsurance] ([PatientID], [ProviderID], [PolicyNumber], [ExpiryDate]) VALUES (1, 1, N'POL-0001', CAST(N'2027-01-01' AS Date))
INSERT [billing].[PatientInsurance] ([PatientID], [ProviderID], [PolicyNumber], [ExpiryDate]) VALUES (2, 2, N'POL-0002', CAST(N'2026-06-01' AS Date))
INSERT [billing].[PatientInsurance] ([PatientID], [ProviderID], [PolicyNumber], [ExpiryDate]) VALUES (4, 1, N'POL-0003', CAST(N'2026-12-31' AS Date))
GO
SET IDENTITY_INSERT [clinical].[Admissions] ON 

INSERT [clinical].[Admissions] ([AdmissionID], [PatientID], [RoomID], [AdmittingDoctorID], [AdmissionDate], [DischargeDate]) VALUES (9, 1, 1, 1, CAST(N'2025-03-01T10:00:00.0000000' AS DateTime2), CAST(N'2025-03-15T12:00:00.0000000' AS DateTime2))
INSERT [clinical].[Admissions] ([AdmissionID], [PatientID], [RoomID], [AdmittingDoctorID], [AdmissionDate], [DischargeDate]) VALUES (10, 3, 5, 2, CAST(N'2025-12-01T09:00:00.0000000' AS DateTime2), CAST(N'2025-12-06T10:00:00.0000000' AS DateTime2))
INSERT [clinical].[Admissions] ([AdmissionID], [PatientID], [RoomID], [AdmittingDoctorID], [AdmissionDate], [DischargeDate]) VALUES (11, 5, 2, 4, CAST(N'2025-09-05T09:00:00.0000000' AS DateTime2), CAST(N'2025-09-07T16:00:00.0000000' AS DateTime2))
SET IDENTITY_INSERT [clinical].[Admissions] OFF
GO
SET IDENTITY_INSERT [clinical].[Appointments] ON 

INSERT [clinical].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [Status], [Reason]) VALUES (1, 1, 1, CAST(N'2025-09-01T10:00:00.0000000' AS DateTime2), N'Completed', N'Routine Checkup')
INSERT [clinical].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [Status], [Reason]) VALUES (2, 2, 2, CAST(N'2025-09-08T11:00:00.0000000' AS DateTime2), N'Completed', N'Follow up')
INSERT [clinical].[Appointments] ([AppointmentID], [PatientID], [DoctorID], [AppointmentDate], [Status], [Reason]) VALUES (3, 3, 2, CAST(N'2025-11-01T09:00:00.0000000' AS DateTime2), N'Completed', N'Routine Checkup')
SET IDENTITY_INSERT [clinical].[Appointments] OFF
GO
SET IDENTITY_INSERT [clinical].[LabOrders] ON 

INSERT [clinical].[LabOrders] ([LabOrderID], [PatientID], [DoctorID], [LabTestID], [OrderDate], [ResultDate], [ResultValue], [Status]) VALUES (1, 1, 1, 1, CAST(N'2025-09-01' AS Date), CAST(N'2025-09-02' AS Date), N'WBC: 6.5, RBC: 4.8 (Normal Result)', N'Completed')
INSERT [clinical].[LabOrders] ([LabOrderID], [PatientID], [DoctorID], [LabTestID], [OrderDate], [ResultDate], [ResultValue], [Status]) VALUES (2, 2, 2, 2, CAST(N'2025-09-08' AS Date), CAST(N'2025-09-09' AS Date), N'Cholesterol: 180 mg/dL', N'Completed')
INSERT [clinical].[LabOrders] ([LabOrderID], [PatientID], [DoctorID], [LabTestID], [OrderDate], [ResultDate], [ResultValue], [Status]) VALUES (3, 13, 3, 4, CAST(N'2026-08-30' AS Date), NULL, NULL, N'Pending')
SET IDENTITY_INSERT [clinical].[LabOrders] OFF
GO
SET IDENTITY_INSERT [clinical].[LabTests] ON 

INSERT [clinical].[LabTests] ([LabTestID], [TestName], [Cost]) VALUES (1, N'Complete Blood Count (CBC)', CAST(150.00 AS Decimal(10, 2)))
INSERT [clinical].[LabTests] ([LabTestID], [TestName], [Cost]) VALUES (2, N'Lipid Profile', CAST(250.00 AS Decimal(10, 2)))
INSERT [clinical].[LabTests] ([LabTestID], [TestName], [Cost]) VALUES (3, N'Blood Glucose', CAST(80.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [clinical].[LabTests] OFF
GO
SET IDENTITY_INSERT [clinical].[Medications] ON 

INSERT [clinical].[Medications] ([MedicationID], [Name], [Manufacturer], [UnitPrice]) VALUES (1, N'Paracetamol 500mg', N'EIPICO', CAST(15.00 AS Decimal(10, 2)))
INSERT [clinical].[Medications] ([MedicationID], [Name], [Manufacturer], [UnitPrice]) VALUES (2, N'Amoxicillin 250mg', N'GSK', CAST(45.00 AS Decimal(10, 2)))
INSERT [clinical].[Medications] ([MedicationID], [Name], [Manufacturer], [UnitPrice]) VALUES (3, N'Atorvastatin 20mg', N'Pfizer', CAST(90.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [clinical].[Medications] OFF
GO
SET IDENTITY_INSERT [clinical].[Patients] ON 

INSERT [clinical].[Patients] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (1, N'Alaa', N'Mohamed', CAST(N'2000-01-01' AS Date), N'01000000001', N'M', NULL, NULL, N'O+', CAST(N'2026-08-26T16:10:16.3366397' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [clinical].[Patients] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (2, N'Mona', N'Eid', CAST(N'1990-03-01' AS Date), N'01000000002', N'F', NULL, NULL, N'A+', CAST(N'2026-08-26T16:10:16.3366397' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
INSERT [clinical].[Patients] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (3, N'Mohamed', N'Ibrahim', CAST(N'1985-04-12' AS Date), N'01000000003', N'M', NULL, NULL, N'B-', CAST(N'2026-08-26T16:10:16.3375504' AS DateTime2), CAST(N'9999-12-31T23:59:59.9999999' AS DateTime2))
SET IDENTITY_INSERT [clinical].[Patients] OFF
GO
INSERT [clinical].[Patients_History] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (2, N'Mona', N'Eid', CAST(N'1990-03-01' AS Date), N'01000002', N'M', NULL, NULL, NULL, CAST(N'2026-08-26T15:03:12.0353003' AS DateTime2), CAST(N'2026-08-26T16:10:16.3244939' AS DateTime2))
INSERT [clinical].[Patients_History] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (4, N'Salma', N'Reda', CAST(N'1990-09-23' AS Date), N'01000004', N'M', NULL, NULL, NULL, CAST(N'2026-08-26T15:03:12.0353003' AS DateTime2), CAST(N'2026-08-26T16:10:16.3244939' AS DateTime2))
INSERT [clinical].[Patients_History] ([PatientID], [FirstName], [LastName], [DOB], [Phone], [Gender], [Email], [Address], [BloodType], [ValidFrom], [ValidTo]) VALUES (6, N'Nadia', N'Farouk', CAST(N'2001-11-30' AS Date), N'01000006', N'M', NULL, NULL, NULL, CAST(N'2026-08-26T15:03:12.0353003' AS DateTime2), CAST(N'2026-08-26T16:10:16.3244939' AS DateTime2))
GO
INSERT [clinical].[PrescriptionDetails] ([PrescriptionID], [MedicationID], [Dosage], [Duration]) VALUES (1, 3, N'1 tablet nightly', N'30 days')
INSERT [clinical].[PrescriptionDetails] ([PrescriptionID], [MedicationID], [Dosage], [Duration]) VALUES (1, 5, N'1 tablet daily', N'30 days')
INSERT [clinical].[PrescriptionDetails] ([PrescriptionID], [MedicationID], [Dosage], [Duration]) VALUES (2, 1, N'1 tablet every 6 hours', N'5 days')
GO
SET IDENTITY_INSERT [clinical].[Prescriptions] ON 

INSERT [clinical].[Prescriptions] ([PrescriptionID], [AppointmentID], [DoctorID], [PatientID], [DatePrescribed]) VALUES (1, 1, 1, 1, CAST(N'2025-09-01' AS Date))
INSERT [clinical].[Prescriptions] ([PrescriptionID], [AppointmentID], [DoctorID], [PatientID], [DatePrescribed]) VALUES (2, 2, 2, 2, CAST(N'2025-09-08' AS Date))
INSERT [clinical].[Prescriptions] ([PrescriptionID], [AppointmentID], [DoctorID], [PatientID], [DatePrescribed]) VALUES (3, 4, 5, 4, CAST(N'2025-10-10' AS Date))
SET IDENTITY_INSERT [clinical].[Prescriptions] OFF
GO
SET IDENTITY_INSERT [hr].[Departments] ON 

INSERT [hr].[Departments] ([DepartmentID], [DepartmentName], [Location]) VALUES (1, N'Surgery', N'Building A - Floor 2')
INSERT [hr].[Departments] ([DepartmentID], [DepartmentName], [Location]) VALUES (2, N'Cardiology', N'Building A - Floor 3')
INSERT [hr].[Departments] ([DepartmentID], [DepartmentName], [Location]) VALUES (3, N'Neurology', N'Building B - Floor 1')
SET IDENTITY_INSERT [hr].[Departments] OFF
GO
INSERT [hr].[Doctors] ([DoctorID], [Specialization], [LicenseNumber]) VALUES (1, N'Surgeon', N'LIC-001')
INSERT [hr].[Doctors] ([DoctorID], [Specialization], [LicenseNumber]) VALUES (2, N'Cardiology', N'LIC-002')
INSERT [hr].[Doctors] ([DoctorID], [Specialization], [LicenseNumber]) VALUES (3, N'Neurologist', N'LIC-003')
GO
INSERT [hr].[DoctorSchedules] ([DoctorID], [DepartmentID], [DayOfWeek], [StartTime], [EndTime]) VALUES (1, 1, N'Mon', CAST(N'09:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [hr].[DoctorSchedules] ([DoctorID], [DepartmentID], [DayOfWeek], [StartTime], [EndTime]) VALUES (1, 1, N'Sat', CAST(N'09:00:00' AS Time), CAST(N'14:00:00' AS Time))
INSERT [hr].[DoctorSchedules] ([DoctorID], [DepartmentID], [DayOfWeek], [StartTime], [EndTime]) VALUES (2, 2, N'Sat', CAST(N'11:00:00' AS Time), CAST(N'17:00:00' AS Time))
GO
INSERT [hr].[Nurses] ([NurseID], [ShiftType]) VALUES (8, N'Evening')
GO
SET IDENTITY_INSERT [hr].[Rooms] ON 

INSERT [hr].[Rooms] ([RoomID], [RoomNumber], [RoomType], [DepartmentID], [DailyRate]) VALUES (1, N'A-201', N'ICU', 1, CAST(3500.00 AS Decimal(10, 2)))
INSERT [hr].[Rooms] ([RoomID], [RoomNumber], [RoomType], [DepartmentID], [DailyRate]) VALUES (2, N'A-202', N'General', 1, CAST(1200.00 AS Decimal(10, 2)))
INSERT [hr].[Rooms] ([RoomID], [RoomNumber], [RoomType], [DepartmentID], [DailyRate]) VALUES (3, N'B-101', N'Private', 3, CAST(2000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [hr].[Rooms] OFF
GO
SET IDENTITY_INSERT [hr].[Staff] ON 

INSERT [hr].[Staff] ([StaffID], [FirstName], [LastName], [Email], [Phone], [HireDate], [DepartmentID], [JobTitle], [Salary]) VALUES (1, N'Ahmed', N'Ali', N'ahmed.ali@hms.com', N'01000000001', CAST(N'2025-03-24' AS Date), 1, N'Doctor', CAST(20000.00 AS Decimal(10, 2)))
INSERT [hr].[Staff] ([StaffID], [FirstName], [LastName], [Email], [Phone], [HireDate], [DepartmentID], [JobTitle], [Salary]) VALUES (2, N'Gamal', N'Khaled', N'gamal.khaled@hms.com', N'01000000002', CAST(N'2025-01-22' AS Date), 2, N'Doctor', CAST(22000.00 AS Decimal(10, 2)))
INSERT [hr].[Staff] ([StaffID], [FirstName], [LastName], [Email], [Phone], [HireDate], [DepartmentID], [JobTitle], [Salary]) VALUES (3, N'Tamer', N'Omar', N'tamer.omar@hms.com', N'01000000003', CAST(N'2025-07-10' AS Date), 3, N'Doctor', CAST(21000.00 AS Decimal(10, 2)))
SET IDENTITY_INSERT [hr].[Staff] OFF
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Insuranc__7D057CE57B49CCD0]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [billing].[InsuranceProviders] ADD UNIQUE NONCLUSTERED 
(
	[ProviderName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Invoices_Patient]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Invoices_Patient] ON [billing].[Invoices]
(
	[PatientID] ASC,
	[IssueDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ_Doctor_Slot]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [clinical].[Appointments] ADD  CONSTRAINT [UQ_Doctor_Slot] UNIQUE NONCLUSTERED 
(
	[DoctorID] ASC,
	[AppointmentDate] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_Date]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_Date] ON [clinical].[Appointments]
(
	[AppointmentDate] ASC
)
INCLUDE([PatientID],[DoctorID],[Status]) WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [IX_Appointments_Scheduled_Filtered]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Appointments_Scheduled_Filtered] ON [clinical].[Appointments]
(
	[AppointmentDate] ASC
)
WHERE ([Status]='Scheduled')
WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_LabOrders_Doctor]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_LabOrders_Doctor] ON [clinical].[LabOrders]
(
	[DoctorID] ASC,
	[Status] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__LabTests__2AF07A7D2B799BB3]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [clinical].[LabTests] ADD UNIQUE NONCLUSTERED 
(
	[TestName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [IX_Patients_Name]    Script Date: 9/8/2026 3:44:25 PM ******/
CREATE NONCLUSTERED INDEX [IX_Patients_Name] ON [clinical].[Patients]
(
	[LastName] ASC,
	[FirstName] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, DROP_EXISTING = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__Prescrip__8ECDFCA39E2C5272]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [clinical].[Prescriptions] ADD UNIQUE NONCLUSTERED 
(
	[AppointmentID] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Doctors__E88901669ECF2ACC]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [hr].[Doctors] ADD UNIQUE NONCLUSTERED 
(
	[LicenseNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Rooms__AE10E07A21D8398C]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [hr].[Rooms] ADD UNIQUE NONCLUSTERED 
(
	[RoomNumber] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__Staff__A9D105342096F3E6]    Script Date: 9/8/2026 3:44:25 PM ******/
ALTER TABLE [hr].[Staff] ADD UNIQUE NONCLUSTERED 
(
	[Email] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [billing].[Invoices] ADD  DEFAULT ((0)) FOR [TotalAmount]
GO
ALTER TABLE [billing].[Invoices] ADD  DEFAULT (CONVERT([date],getdate())) FOR [IssueDate]
GO
ALTER TABLE [billing].[Invoices] ADD  DEFAULT ('Unpaid') FOR [Status]
GO
ALTER TABLE [billing].[InvoiceStatusLog] ADD  DEFAULT (sysdatetime()) FOR [ChangedAt]
GO
ALTER TABLE [clinical].[Admissions] ADD  DEFAULT (sysdatetime()) FOR [AdmissionDate]
GO
ALTER TABLE [clinical].[Appointments] ADD  DEFAULT ('Scheduled') FOR [Status]
GO
ALTER TABLE [clinical].[LabOrders] ADD  DEFAULT (CONVERT([date],getdate())) FOR [OrderDate]
GO
ALTER TABLE [clinical].[LabOrders] ADD  DEFAULT ('Pending') FOR [Status]
GO
ALTER TABLE [clinical].[Patients] ADD  CONSTRAINT [DF_Patients_Gender]  DEFAULT ('M') FOR [Gender]
GO
ALTER TABLE [clinical].[Patients] ADD  DEFAULT (sysutcdatetime()) FOR [ValidFrom]
GO
ALTER TABLE [clinical].[Patients] ADD  DEFAULT (CONVERT([datetime2],'9999-12-31 23:59:59.9999999')) FOR [ValidTo]
GO
ALTER TABLE [clinical].[Prescriptions] ADD  DEFAULT (CONVERT([date],getdate())) FOR [DatePrescribed]
GO
ALTER TABLE [hr].[Staff] ADD  DEFAULT (getdate()) FOR [HireDate]
GO
ALTER TABLE [billing].[InvoiceItems]  WITH CHECK ADD  CONSTRAINT [FK_Items_Invoice] FOREIGN KEY([InvoiceID], [IssueDate])
REFERENCES [billing].[Invoices] ([InvoiceID], [IssueDate])
GO
ALTER TABLE [billing].[InvoiceItems] CHECK CONSTRAINT [FK_Items_Invoice]
GO
ALTER TABLE [billing].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Admission] FOREIGN KEY([AdmissionID])
REFERENCES [clinical].[Admissions] ([AdmissionID])
GO
ALTER TABLE [billing].[Invoices] CHECK CONSTRAINT [FK_Inv_Admission]
GO
ALTER TABLE [billing].[Invoices]  WITH CHECK ADD  CONSTRAINT [FK_Inv_Patient] FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [billing].[Invoices] CHECK CONSTRAINT [FK_Inv_Patient]
GO
ALTER TABLE [billing].[PatientInsurance]  WITH CHECK ADD FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [billing].[PatientInsurance]  WITH CHECK ADD FOREIGN KEY([ProviderID])
REFERENCES [billing].[InsuranceProviders] ([ProviderID])
GO
ALTER TABLE [clinical].[Admissions]  WITH CHECK ADD  CONSTRAINT [FK_Adm_Doctor] FOREIGN KEY([AdmittingDoctorID])
REFERENCES [hr].[Doctors] ([DoctorID])
GO
ALTER TABLE [clinical].[Admissions] CHECK CONSTRAINT [FK_Adm_Doctor]
GO
ALTER TABLE [clinical].[Admissions]  WITH CHECK ADD  CONSTRAINT [FK_Admissions_Patient] FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [clinical].[Admissions] CHECK CONSTRAINT [FK_Admissions_Patient]
GO
ALTER TABLE [clinical].[Admissions]  WITH CHECK ADD  CONSTRAINT [FK_Admissions_Room] FOREIGN KEY([RoomID])
REFERENCES [hr].[Rooms] ([RoomID])
GO
ALTER TABLE [clinical].[Admissions] CHECK CONSTRAINT [FK_Admissions_Room]
GO
ALTER TABLE [clinical].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_App_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [hr].[Doctors] ([DoctorID])
GO
ALTER TABLE [clinical].[Appointments] CHECK CONSTRAINT [FK_App_Doctor]
GO
ALTER TABLE [clinical].[Appointments]  WITH CHECK ADD  CONSTRAINT [FK_Appointments_Patient] FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [clinical].[Appointments] CHECK CONSTRAINT [FK_Appointments_Patient]
GO
ALTER TABLE [clinical].[LabOrders]  WITH CHECK ADD  CONSTRAINT [FK_Lab_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [hr].[Doctors] ([DoctorID])
GO
ALTER TABLE [clinical].[LabOrders] CHECK CONSTRAINT [FK_Lab_Doctor]
GO
ALTER TABLE [clinical].[LabOrders]  WITH CHECK ADD  CONSTRAINT [FK_Lab_Patient] FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [clinical].[LabOrders] CHECK CONSTRAINT [FK_Lab_Patient]
GO
ALTER TABLE [clinical].[LabOrders]  WITH CHECK ADD  CONSTRAINT [FK_Lab_Test] FOREIGN KEY([LabTestID])
REFERENCES [clinical].[LabTests] ([LabTestID])
GO
ALTER TABLE [clinical].[LabOrders] CHECK CONSTRAINT [FK_Lab_Test]
GO
ALTER TABLE [clinical].[PrescriptionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PD_Medication] FOREIGN KEY([MedicationID])
REFERENCES [clinical].[Medications] ([MedicationID])
GO
ALTER TABLE [clinical].[PrescriptionDetails] CHECK CONSTRAINT [FK_PD_Medication]
GO
ALTER TABLE [clinical].[PrescriptionDetails]  WITH CHECK ADD  CONSTRAINT [FK_PD_Prescription] FOREIGN KEY([PrescriptionID])
REFERENCES [clinical].[Prescriptions] ([PrescriptionID])
ON DELETE CASCADE
GO
ALTER TABLE [clinical].[PrescriptionDetails] CHECK CONSTRAINT [FK_PD_Prescription]
GO
ALTER TABLE [clinical].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Presc_Appointment] FOREIGN KEY([AppointmentID])
REFERENCES [clinical].[Appointments] ([AppointmentID])
GO
ALTER TABLE [clinical].[Prescriptions] CHECK CONSTRAINT [FK_Presc_Appointment]
GO
ALTER TABLE [clinical].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Presc_Doctor] FOREIGN KEY([DoctorID])
REFERENCES [hr].[Doctors] ([DoctorID])
GO
ALTER TABLE [clinical].[Prescriptions] CHECK CONSTRAINT [FK_Presc_Doctor]
GO
ALTER TABLE [clinical].[Prescriptions]  WITH CHECK ADD  CONSTRAINT [FK_Presc_Patient] FOREIGN KEY([PatientID])
REFERENCES [clinical].[Patients] ([PatientID])
GO
ALTER TABLE [clinical].[Prescriptions] CHECK CONSTRAINT [FK_Presc_Patient]
GO
ALTER TABLE [hr].[Doctors]  WITH CHECK ADD  CONSTRAINT [FK_Doctors_Staff] FOREIGN KEY([DoctorID])
REFERENCES [hr].[Staff] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [hr].[Doctors] CHECK CONSTRAINT [FK_Doctors_Staff]
GO
ALTER TABLE [hr].[DoctorSchedules]  WITH CHECK ADD FOREIGN KEY([DepartmentID])
REFERENCES [hr].[Departments] ([DepartmentID])
GO
ALTER TABLE [hr].[DoctorSchedules]  WITH CHECK ADD FOREIGN KEY([DoctorID])
REFERENCES [hr].[Doctors] ([DoctorID])
GO
ALTER TABLE [hr].[Nurses]  WITH CHECK ADD  CONSTRAINT [FK_Nurses_Staff] FOREIGN KEY([NurseID])
REFERENCES [hr].[Staff] ([StaffID])
ON DELETE CASCADE
GO
ALTER TABLE [hr].[Nurses] CHECK CONSTRAINT [FK_Nurses_Staff]
GO
ALTER TABLE [hr].[Rooms]  WITH CHECK ADD  CONSTRAINT [FK_Rooms_Department] FOREIGN KEY([DepartmentID])
REFERENCES [hr].[Departments] ([DepartmentID])
GO
ALTER TABLE [hr].[Rooms] CHECK CONSTRAINT [FK_Rooms_Department]
GO
ALTER TABLE [hr].[Staff]  WITH CHECK ADD  CONSTRAINT [FK_Staff_Department] FOREIGN KEY([DepartmentID])
REFERENCES [hr].[Departments] ([DepartmentID])
GO
ALTER TABLE [hr].[Staff] CHECK CONSTRAINT [FK_Staff_Department]
GO
ALTER TABLE [billing].[InvoiceItems]  WITH CHECK ADD CHECK  (([Amount]>=(0)))
GO
ALTER TABLE [billing].[Invoices]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Paid' OR [Status]='Unpaid'))
GO
ALTER TABLE [billing].[Invoices]  WITH CHECK ADD CHECK  (([TotalAmount]>=(0)))
GO
ALTER TABLE [clinical].[Admissions]  WITH CHECK ADD  CONSTRAINT [CK_Adm_Dates] CHECK  (([DischargeDate] IS NULL OR [DischargeDate]>=[AdmissionDate]))
GO
ALTER TABLE [clinical].[Admissions] CHECK CONSTRAINT [CK_Adm_Dates]
GO
ALTER TABLE [clinical].[Appointments]  WITH CHECK ADD  CONSTRAINT [CK_App_Status] CHECK  (([Status]='NoShow' OR [Status]='Cancelled' OR [Status]='Completed' OR [Status]='Scheduled'))
GO
ALTER TABLE [clinical].[Appointments] CHECK CONSTRAINT [CK_App_Status]
GO
ALTER TABLE [clinical].[LabOrders]  WITH CHECK ADD CHECK  (([Status]='Cancelled' OR [Status]='Completed' OR [Status]='Pending'))
GO
ALTER TABLE [clinical].[LabOrders]  WITH CHECK ADD  CONSTRAINT [CK_Lab_ResultDate] CHECK  (([ResultDate] IS NULL OR [ResultDate]>=[OrderDate]))
GO
ALTER TABLE [clinical].[LabOrders] CHECK CONSTRAINT [CK_Lab_ResultDate]
GO
ALTER TABLE [clinical].[LabTests]  WITH CHECK ADD CHECK  (([Cost]>=(0)))
GO
ALTER TABLE [clinical].[Medications]  WITH CHECK ADD CHECK  (([UnitPrice]>(0)))
GO
ALTER TABLE [clinical].[Patients]  WITH CHECK ADD  CONSTRAINT [CK_Patients_BloodType] CHECK  (([BloodType]='O-' OR [BloodType]='O+' OR [BloodType]='AB-' OR [BloodType]='AB+' OR [BloodType]='B-' OR [BloodType]='B+' OR [BloodType]='A-' OR [BloodType]='A+'))
GO
ALTER TABLE [clinical].[Patients] CHECK CONSTRAINT [CK_Patients_BloodType]
GO
ALTER TABLE [clinical].[Patients]  WITH CHECK ADD  CONSTRAINT [CK_Patients_Gender] CHECK  (([Gender]='F' OR [Gender]='M'))
GO
ALTER TABLE [clinical].[Patients] CHECK CONSTRAINT [CK_Patients_Gender]
GO
ALTER TABLE [hr].[DoctorSchedules]  WITH CHECK ADD CHECK  (([DayOfWeek]='Fri' OR [DayOfWeek]='Thu' OR [DayOfWeek]='Wed' OR [DayOfWeek]='Tue' OR [DayOfWeek]='Mon' OR [DayOfWeek]='Sun' OR [DayOfWeek]='Sat'))
GO
ALTER TABLE [hr].[DoctorSchedules]  WITH CHECK ADD  CONSTRAINT [CK_Sched_Times] CHECK  (([EndTime]>[StartTime]))
GO
ALTER TABLE [hr].[DoctorSchedules] CHECK CONSTRAINT [CK_Sched_Times]
GO
ALTER TABLE [hr].[Nurses]  WITH CHECK ADD CHECK  (([ShiftType]='Night' OR [ShiftType]='Evening' OR [ShiftType]='Morning'))
GO
ALTER TABLE [hr].[Rooms]  WITH CHECK ADD CHECK  (([DailyRate]>(0)))
GO
ALTER TABLE [hr].[Rooms]  WITH CHECK ADD CHECK  (([RoomType]='Operation' OR [RoomType]='Private' OR [RoomType]='ICU' OR [RoomType]='General'))
GO
ALTER TABLE [hr].[Staff]  WITH CHECK ADD CHECK  (([Salary]>(0)))
GO
/****** Object:  StoredProcedure [billing].[sp_BillAdmission]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Automatically generate admission invoice
CREATE   PROCEDURE [billing].[sp_BillAdmission]
    @AdmissionID INT
AS
BEGIN
    SET NOCOUNT ON;
    DECLARE @PatientID INT, @RoomCost DECIMAL(10,2), @Days INT, @InvoiceID INT, @Today DATE = CAST(GETDATE() AS DATE);

    SELECT 
        @PatientID = a.PatientID, 
        @RoomCost  = r.DailyRate, 
        @Days      = DATEDIFF(DAY, a.AdmissionDate, ISNULL(a.DischargeDate, SYSDATETIME())) + 1
    FROM clinical.Admissions a
    JOIN hr.Rooms r ON r.RoomID = a.RoomID
    WHERE a.AdmissionID = @AdmissionID;

    INSERT INTO billing.Invoices (PatientID, AdmissionID, TotalAmount, IssueDate, Status)
    VALUES (@PatientID, @AdmissionID, 0, @Today, 'Unpaid');
    SET @InvoiceID = SCOPE_IDENTITY();

    INSERT INTO billing.InvoiceItems (InvoiceID, IssueDate, Description, Amount)
    VALUES (@InvoiceID, @Today, CONCAT('Room charge x', @Days, ' days'), @RoomCost * @Days);

    UPDATE billing.Invoices
    SET TotalAmount = (SELECT SUM(Amount) FROM billing.InvoiceItems WHERE InvoiceID = @InvoiceID AND IssueDate = @Today)
    WHERE InvoiceID = @InvoiceID AND IssueDate = @Today;

    PRINT 'Invoice ' + CAST(@InvoiceID AS VARCHAR) + ' generated for admission ' + CAST(@AdmissionID AS VARCHAR);
END
GO
/****** Object:  StoredProcedure [billing].[sp_MonthlyReport]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- Monthly report using temporary tables
CREATE   PROCEDURE [billing].[sp_MonthlyReport] (@Year INT, @Month INT)
AS
BEGIN
    SET NOCOUNT ON;
    CREATE TABLE #MonthlyInvoices (
        InvoiceID INT, PatientName VARCHAR(100), TotalAmount DECIMAL(10,2)
    );

    INSERT INTO #MonthlyInvoices
    SELECT i.InvoiceID, p.FirstName + ' ' + p.LastName, i.TotalAmount
    FROM billing.Invoices i
    JOIN clinical.Patients p ON p.PatientID = i.PatientID
    WHERE YEAR(i.IssueDate) = @Year AND MONTH(i.IssueDate) = @Month;

    DECLARE @Summary TABLE (TotalRevenue DECIMAL(12,2), InvoiceCount INT);
    INSERT INTO @Summary SELECT SUM(TotalAmount), COUNT(*) FROM #MonthlyInvoices;

    SELECT * FROM #MonthlyInvoices;
    SELECT * FROM @Summary;

    DROP TABLE #MonthlyInvoices;
END
GO
/****** Object:  StoredProcedure [clinical].[sp_AdmitPatient]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================================
-- 5. Stored Procedures
-- =====================================================================================
-- Admit patient to room
CREATE   PROCEDURE [clinical].[sp_AdmitPatient]
    @PatientID INT,
    @RoomID INT,
    @DoctorID INT
AS
BEGIN
    SET NOCOUNT ON;
    BEGIN TRY
        BEGIN TRANSACTION;

        IF EXISTS (SELECT 1 FROM clinical.Admissions WITH (UPDLOCK, HOLDLOCK) 
                   WHERE RoomID = @RoomID AND DischargeDate IS NULL)
        BEGIN
            THROW 51001, 'Room is currently occupied.', 1;
        END

        INSERT INTO clinical.Admissions (PatientID, RoomID, AdmittingDoctorID, AdmissionDate)
        VALUES (@PatientID, @RoomID, @DoctorID, SYSDATETIME());

        COMMIT TRANSACTION;
        PRINT 'Patient admitted successfully. AdmissionID = ' + CAST(SCOPE_IDENTITY() AS VARCHAR);
    END TRY
    BEGIN CATCH
        IF @@TRANCOUNT > 0 ROLLBACK TRANSACTION;
        PRINT 'Admission failed: ' + ERROR_MESSAGE();
    END CATCH
END
GO
/****** Object:  Trigger [billing].[trg_LogInvoiceStatusChange]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

CREATE   TRIGGER [billing].[trg_LogInvoiceStatusChange]
ON [billing].[Invoices]
AFTER UPDATE
AS
BEGIN
    SET NOCOUNT ON;
    IF UPDATE(Status)
    BEGIN
        INSERT INTO billing.InvoiceStatusLog (InvoiceID, OldStatus, NewStatus)
        SELECT d.InvoiceID, d.Status, i.Status
        FROM inserted i
        JOIN deleted d ON d.InvoiceID = i.InvoiceID AND d.IssueDate = i.IssueDate
        WHERE d.Status <> i.Status;
    END
END
GO
ALTER TABLE [billing].[Invoices] ENABLE TRIGGER [trg_LogInvoiceStatusChange]
GO
/****** Object:  Trigger [clinical].[trg_PreventOverbooking]    Script Date: 9/8/2026 3:44:25 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO

-- =====================================================================================
-- 7. Triggers
-- =====================================================================================
CREATE   TRIGGER [clinical].[trg_PreventOverbooking]
ON [clinical].[Appointments]
AFTER INSERT
AS
BEGIN
    SET NOCOUNT ON;
    IF EXISTS (
        SELECT 1 FROM inserted i
        JOIN clinical.Appointments a ON a.DoctorID = i.DoctorID 
           AND a.AppointmentDate = i.AppointmentDate 
           AND a.AppointmentID <> i.AppointmentID
    )
    BEGIN
        RAISERROR ('Doctor already has an appointment at this exact time.', 16, 1);
        ROLLBACK TRANSACTION;
    END
END
GO
ALTER TABLE [clinical].[Appointments] ENABLE TRIGGER [trg_PreventOverbooking]
GO


-- =====================================================================================

-- 8. Enterprise Role-Based Access Control (RBAC) & Security Provisioning

-- =====================================================================================

﻿/*
========================================================================================
Project: Hospital Management System (HMS_DB)
File: 11_Security_RBAC.sql
Description: Enterprise Role-Based Access Control (RBAC) configuration. Defines granular 
             GRANT and DENY permissions for administrative, reception, clinical, nursing, 
             and accounting personnel, provisions database users, and assigns role memberships.
========================================================================================
*/

USE [HMS_DB];
GO

-- =====================================================================================
-- 1. Database Role Provisioning
-- =====================================================================================

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'db_hospital_director' AND type = 'R')
BEGIN
    CREATE ROLE [db_hospital_director];
END;
GO

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'db_reception' AND type = 'R')
BEGIN
    CREATE ROLE [db_reception];
END;
GO

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'db_clinical_staff' AND type = 'R')
BEGIN
    CREATE ROLE [db_clinical_staff];
END;
GO

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'db_nursing_staff' AND type = 'R')
BEGIN
    CREATE ROLE [db_nursing_staff];
END;
GO

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'db_accounting' AND type = 'R')
BEGIN
    CREATE ROLE [db_accounting];
END;
GO

-- =====================================================================================
-- 2. Role Permissions Matrix (GRANT & DENY)
-- =====================================================================================

-----------------------------------------------------------------------------------------
-- Role: db_hospital_director (Full Administrative Control)
-----------------------------------------------------------------------------------------
GRANT CONTROL ON DATABASE::[HMS_DB] TO [db_hospital_director];
GO

-----------------------------------------------------------------------------------------
-- Role: db_reception (Front Desk & Patient Intake)
-----------------------------------------------------------------------------------------
-- Granted Permissions: Patient registration, appointments, room & doctor lookups, insurance
GRANT SELECT, INSERT, UPDATE ON [clinical].[Patients] TO [db_reception];
GRANT SELECT, INSERT, UPDATE ON [clinical].[Appointments] TO [db_reception];
GRANT SELECT ON [hr].[DoctorSchedules] TO [db_reception];
GRANT SELECT ON [hr].[Doctors] TO [db_reception];
GRANT SELECT ON [hr].[Rooms] TO [db_reception];
GRANT SELECT, INSERT ON [billing].[PatientInsurance] TO [db_reception];

-- Explicit Denials: Medical prescriptions, lab orders, billing invoices, staff HR records
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[Prescriptions] TO [db_reception];
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[PrescriptionDetails] TO [db_reception];
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[LabOrders] TO [db_reception];
DENY SELECT, INSERT, UPDATE, DELETE ON [billing].[Invoices] TO [db_reception];
DENY SELECT, INSERT, UPDATE, DELETE ON [billing].[InvoiceItems] TO [db_reception];
DENY SELECT, INSERT, UPDATE, DELETE ON [hr].[Staff] TO [db_reception];
GO

-----------------------------------------------------------------------------------------
-- Role: db_clinical_staff (Attending Physicians / Doctors)
-----------------------------------------------------------------------------------------
-- Revoke prior broad schema authorizations if present
REVOKE INSERT ON SCHEMA::[clinical] FROM [db_clinical_staff];
REVOKE SELECT ON SCHEMA::[clinical] FROM [db_clinical_staff];
REVOKE UPDATE ON SCHEMA::[clinical] FROM [db_clinical_staff];
REVOKE SELECT ON SCHEMA::[hr] FROM [db_clinical_staff];

-- Granted Permissions: Patient history, appointments, prescription orders, lab requests, admissions
GRANT SELECT ON [clinical].[Patients] TO [db_clinical_staff];
GRANT SELECT ON [clinical].[Appointments] TO [db_clinical_staff];
GRANT SELECT, INSERT, UPDATE ON [clinical].[Prescriptions] TO [db_clinical_staff];
GRANT SELECT, INSERT, UPDATE ON [clinical].[PrescriptionDetails] TO [db_clinical_staff];
GRANT SELECT, INSERT, UPDATE ON [clinical].[LabOrders] TO [db_clinical_staff];
GRANT SELECT, INSERT, UPDATE ON [clinical].[Admissions] TO [db_clinical_staff];
GRANT SELECT ON [clinical].[Medications] TO [db_clinical_staff];
GRANT SELECT ON [clinical].[LabTests] TO [db_clinical_staff];

-- Explicit Denials: Financial modifications, patient deletion, HR salary records
DENY INSERT, UPDATE, DELETE ON SCHEMA::[billing] TO [db_clinical_staff];
DENY DELETE ON [clinical].[Patients] TO [db_clinical_staff];
DENY SELECT, INSERT, UPDATE, DELETE ON [hr].[Staff] TO [db_clinical_staff];
GO

-----------------------------------------------------------------------------------------
-- Role: db_nursing_staff (Inpatient Care & Treatment Administration)
-----------------------------------------------------------------------------------------
-- Granted Permissions: Patient view, medication instructions, admission bed status, lab viewing
GRANT SELECT ON [clinical].[Patients] TO [db_nursing_staff];
GRANT SELECT ON [clinical].[Prescriptions] TO [db_nursing_staff];
GRANT SELECT ON [clinical].[PrescriptionDetails] TO [db_nursing_staff];
GRANT SELECT, UPDATE ON [clinical].[Admissions] TO [db_nursing_staff];
GRANT SELECT, UPDATE ON [hr].[Rooms] TO [db_nursing_staff];
GRANT SELECT ON [clinical].[LabOrders] TO [db_nursing_staff];
GRANT SELECT ON [clinical].[Medications] TO [db_nursing_staff];

-- Explicit Denials: Prescription alteration/creation, financial records, medical record deletion
DENY INSERT, UPDATE, DELETE ON [clinical].[Prescriptions] TO [db_nursing_staff];
DENY INSERT, UPDATE, DELETE ON [clinical].[PrescriptionDetails] TO [db_nursing_staff];
DENY SELECT, INSERT, UPDATE, DELETE ON SCHEMA::[billing] TO [db_nursing_staff];
DENY DELETE ON SCHEMA::[clinical] TO [db_nursing_staff];
DENY SELECT, INSERT, UPDATE, DELETE ON [hr].[Staff] TO [db_nursing_staff];
GO

-----------------------------------------------------------------------------------------
-- Role: db_accounting (Financial Management & Billing)
-----------------------------------------------------------------------------------------
-- Granted Permissions: Full billing domain operations, admission duration and appointment lookups
GRANT SELECT, INSERT, UPDATE ON SCHEMA::[billing] TO [db_accounting];
GRANT SELECT ON [clinical].[Admissions] TO [db_accounting];
GRANT SELECT ON [clinical].[Appointments] TO [db_accounting];

-- Explicit Denials: Confidential clinical diagnosis, prescriptions, and lab test results
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[Prescriptions] TO [db_accounting];
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[PrescriptionDetails] TO [db_accounting];
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[LabOrders] TO [db_accounting];
DENY SELECT, INSERT, UPDATE, DELETE ON [clinical].[Patients] TO [db_accounting];
GO

-- =====================================================================================
-- 3. Database User Provisioning (WITHOUT LOGIN for Simulation & Internal Access)
-- =====================================================================================

-- Reception Staff Users
IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Recep_Nour')
    CREATE USER [User_Recep_Nour] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Recep_Youssef')
    CREATE USER [User_Recep_Youssef] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Recep_Mariam')
    CREATE USER [User_Recep_Mariam] WITHOUT LOGIN;

-- Nursing Staff Users
IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Nurse_Salma')
    CREATE USER [User_Nurse_Salma] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Nurse_Fatma')
    CREATE USER [User_Nurse_Fatma] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Nurse_Aya')
    CREATE USER [User_Nurse_Aya] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Nurse_Mona')
    CREATE USER [User_Nurse_Mona] WITHOUT LOGIN;

-- Clinical Staff / Doctor Users
IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Ahmed')
    CREATE USER [User_Dr_Ahmed] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Gamal')
    CREATE USER [User_Dr_Gamal] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Tamer')
    CREATE USER [User_Dr_Tamer] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Amar')
    CREATE USER [User_Dr_Amar] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Mostafa')
    CREATE USER [User_Dr_Mostafa] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Dr_Waled')
    CREATE USER [User_Dr_Waled] WITHOUT LOGIN;

-- Executive & Accounting Users
IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Director')
    CREATE USER [User_Director] WITHOUT LOGIN;

IF NOT EXISTS (SELECT 1 FROM sys.database_principals WHERE name = 'User_Accountant_Khaled')
    CREATE USER [User_Accountant_Khaled] WITHOUT LOGIN;
GO

-- =====================================================================================
-- 4. Role Membership Assignment
-- =====================================================================================

-- Executive Director Role
ALTER ROLE [db_hospital_director] ADD MEMBER [User_Director];

-- Reception Role
ALTER ROLE [db_reception] ADD MEMBER [User_Recep_Nour];
ALTER ROLE [db_reception] ADD MEMBER [User_Recep_Youssef];
ALTER ROLE [db_reception] ADD MEMBER [User_Recep_Mariam];

-- Nursing Role
ALTER ROLE [db_nursing_staff] ADD MEMBER [User_Nurse_Salma];
ALTER ROLE [db_nursing_staff] ADD MEMBER [User_Nurse_Fatma];
ALTER ROLE [db_nursing_staff] ADD MEMBER [User_Nurse_Aya];
ALTER ROLE [db_nursing_staff] ADD MEMBER [User_Nurse_Mona];

-- Clinical Role
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Ahmed];
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Gamal];
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Tamer];
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Amar];
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Mostafa];
ALTER ROLE [db_clinical_staff] ADD MEMBER [User_Dr_Waled];

-- Accounting Role
ALTER ROLE [db_accounting] ADD MEMBER [User_Accountant_Khaled];
GO

-- =====================================================================================
-- 5. Verification & Security Audit Queries
-- =====================================================================================

-- Audit Role Memberships
SELECT 
    r.name AS RoleName,
    m.name AS MemberUserName,
    m.type_desc AS MemberType
FROM sys.database_role_members rm
JOIN sys.database_principals r ON rm.role_principal_id = r.principal_id
JOIN sys.database_principals m ON rm.member_principal_id = m.principal_id
WHERE r.name IN ('db_hospital_director', 'db_reception', 'db_clinical_staff', 'db_nursing_staff', 'db_accounting')
ORDER BY r.name, m.name;

-- Audit Role Permissions (GRANT / DENY)
SELECT 
    r.name AS RoleName,
    p.state_desc AS PermissionState,
    p.permission_name AS PermissionName,
    CASE 
        WHEN p.class = 0 THEN 'DATABASE::HMS_DB'
        WHEN p.class = 3 THEN 'SCHEMA::' + SCHEMA_NAME(p.major_id)
        WHEN p.class = 1 THEN OBJECT_SCHEMA_NAME(p.major_id) + '.' + OBJECT_NAME(p.major_id)
        ELSE CAST(p.major_id AS VARCHAR(20))
    END AS SecurableObject
FROM sys.database_permissions p
JOIN sys.database_principals r ON p.grantee_principal_id = r.principal_id
WHERE r.name IN ('db_hospital_director', 'db_reception', 'db_clinical_staff', 'db_nursing_staff', 'db_accounting')
ORDER BY RoleName, SecurableObject, p.permission_name;
GO


USE [master]
GO
